<div class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">About Simulator Sensor Studio</h1>
        <p>Simulator Sensor Server v0.0.1</p>
        <p>The Simulator Sensor Studio is developed by FinTechFolks using open platform web technology stack based around MEAN (MongoDB, Express, AngularJS and NodeJS) together with Mongoose and Bootstrap. The project is hosted within a Virtul Private Cloud set up within the Amazon Web Services Infrastructure.
        </p>
      </div>
    </div>


	<div id="carousel-quantum-ads" class="carousel slide" data-ride="carousel" data-interval="10000">
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="./images/2.png" alt="...">
	      <div class="carousel-caption">
	          <h1>Designed and Built for the 21st Century</h1>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/1.jpg" alt="...">
	      <div class="carousel-caption">
	          <h1>Reuse in Action. Write less, Do more</h1>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/3.jpg" alt="...">
	      <div class="carousel-caption">
	          <h1>We put the Qu in Quality</h1>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/7.jpg" alt="...">
	      <div class="carousel-caption">
	          <h2>The DNA of Real Time Technology</h2>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/8.jpg" alt="...">
	      <div class="carousel-caption">
	          <h2>Tough on Latency, </h2>
	          <h2>Tough on the causes of Latency</h2>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/9.jpg" alt="...">
	      <div class="carousel-caption">
	      	  <h1>Arm yourself for the API Wars</h1>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/10.jpg" alt="...">
	      <div class="carousel-caption">
	          <h1>At the centre of the Datacentre</h1>
	          <h3>Quantum Framework</h3>
	      </div>
	    </div>
	    <div class="item">
	      <img src="./images/12.jpg" alt="...">
	      <div class="carousel-caption">
	          <h1>Quantum Inside</h1>
   	          <h3>Quantum Framework</h3>

	      </div>
	    </div>
	</div>
	 
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-quantum-ads" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-quantum-ads" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> <!-- Carousel -->
</div>