<div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to Simulator Sensor Studio</h1>
        <p>The Simulator Sensor Studio provides a one stop shop for analysis of interactions between clients and the Simulator Gateway infrastructure. To get started, please choose from one of the options below.</p>
      </div>
    </div>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="#time">
	          <img class="img-circle" src="./images/time2.jpg" alt="Generic placeholder image" width="140" height="140">
          </a>
          <h2>Time Analysis</h2>
          <p>This option focuses the analysis on a particular date / time range, showing all client interactions during that period and allowing this data to then be filtered to rapidly zero in on the data items of interest.</p>
          <p><a class="btn btn-secondary" href="#time" role="button">Let's go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#client">
	          <img class="img-circle" src="./images/clients.jpg" alt="Generic placeholder image" width="140" height="140">
          </a>
          <h2>Client Analysis</h2>
           <p>This option focuses the analysis on a particular client, providing a view on the key client usage pattern of the Simulator Gateway.</p>
          <p><a class="btn btn-secondary" href="#client" role="button">Let's go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
	      <a href="#item">
		      <img class="img-circle" src="./images/stock.jpg" alt="Generic placeholder image" width="140" height="140">
      	   </a>
          <h2>Item Analysis</h2>
            <p>This option focuses the analysis on the profile and pattern of the content being requested through the Simulator Gateway.</p>
          <p><a class="btn btn-secondary" href="#item" role="button">Let's go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>