
<div class="container">
    <div class="row">

        <div class="control-group">
          <div class="controls">
            <button id="picker" class="btn btn-primary"><span class="date"></span>
            Select Time Range <span class="caret"></span></button>
            <input name="selectedRange" id="selectedRange" readonly size="80" type="text" value="" />
          </div>
        </div>
    </div>
    <div class="row">
        <table class='table'>
            <tr>
                <th ng-click ='setSortColumn("time")'>Time</th>
                <th ng-click ='setSortColumn("symbol")'>Symbol</th>
                <th ng-click ='setSortColumn("latency")'>Latency(ms)</th>
                <th ng-click ='setSortColumn("clientID.name")'>Client</th>
                <th ng-click ='setSortColumn("clientID.ip")'>IP</th>
                <th ng-click ='setSortColumn("clientID.position")'>Position</th>
            </tr>
            <tr ng-repeat='item in allEntries| orderBy:sortColumn|limitTo:2000'>
                <td>{{ item.time || "empty" }}</td>
                <td>{{ item.symbol || "empty" }}</td>
                <td>{{ item.latency || "empty" }}</td>
                <td>{{ item.clientID.name || "empty" }}</td>
                <td>{{ item.clientID.ip || "empty" }}</td>
                <td>{{ item.clientID.position || "empty" }}</td>
            </tr>            
        </table>
    </div>
</div>

